
.
..
.DS_Store
.git
.gitignore.swp
.inexrecur_time.py.swp
.installer.failurerequests.icloud
R
__pycache__
bwt
bwt.c
bwt1.c
bwt2
bwt2.c
c.py
echo
examples
gallery
graph.sh
makefile
python
test
test.pdf
test.tr
tr
traza1.txt
tree
tree.c
tree1
tree1.c
tree2
tree2.c
tree3
tree3.c
tree4
tree4.c
tree5
tree5.c
triepdf.py
latex/tree.aux
latex/tree.log
latex/tree.out
latex/tree.tex
latex/writeup.aux
latex/writeup.log
latex/writeup.out
